.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #004fdd !important;
}
.bg-success {
  background-color: #dd1d1d !important;
}
.bg-info {
  background-color: #13ff0c !important;
}
.bg-warning {
  background-color: #ffcf00 !important;
}
.bg-danger {
  background-color: #98dee8 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #004fdd !important;
  border-color: #004fdd !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #003086 !important;
  border-color: #003086 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #003086 !important;
  border-color: #003086 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info,
.btn-info:active {
  background-color: #13ff0c !important;
  border-color: #13ff0c !important;
  color: #000c00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #05b400 !important;
  border-color: #05b400 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #000c00 !important;
  background-color: #05b400 !important;
  border-color: #05b400 !important;
}
.btn-success,
.btn-success:active {
  background-color: #dd1d1d !important;
  border-color: #dd1d1d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #901313 !important;
  border-color: #901313 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #901313 !important;
  border-color: #901313 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffcf00 !important;
  border-color: #ffcf00 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #a88900 !important;
  border-color: #a88900 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #000000 !important;
  background-color: #a88900 !important;
  border-color: #a88900 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #98dee8 !important;
  border-color: #98dee8 !important;
  color: #185f69 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #51c7d8 !important;
  border-color: #51c7d8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #185f69 !important;
  background-color: #51c7d8 !important;
  border-color: #51c7d8 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #004fdd;
  color: #004fdd;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #003086 !important;
  background-color: transparent!important;
  border-color: #003086 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #004fdd !important;
  border-color: #004fdd !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: #d4d4d4 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #13ff0c;
  color: #13ff0c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #05b400 !important;
  background-color: transparent!important;
  border-color: #05b400 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #000c00 !important;
  background-color: #13ff0c !important;
  border-color: #13ff0c !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #dd1d1d;
  color: #dd1d1d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #901313 !important;
  background-color: transparent!important;
  border-color: #901313 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #dd1d1d !important;
  border-color: #dd1d1d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffcf00;
  color: #ffcf00;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #a88900 !important;
  background-color: transparent!important;
  border-color: #a88900 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #000000 !important;
  background-color: #ffcf00 !important;
  border-color: #ffcf00 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #98dee8;
  color: #98dee8;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #51c7d8 !important;
  background-color: transparent!important;
  border-color: #51c7d8 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #185f69 !important;
  background-color: #98dee8 !important;
  border-color: #98dee8 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #004fdd !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #dd1d1d !important;
}
.text-info {
  color: #13ff0c !important;
}
.text-warning {
  color: #ffcf00 !important;
}
.text-danger {
  color: #98dee8 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #002b77 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #cccccc !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #831111 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #05a500 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #997c00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #45c3d5 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #004fdd;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #13ff0c;
}
.alert-warning {
  background-color: #ffcf00;
}
.alert-danger {
  background-color: #98dee8;
}
.mbr-gallery-filter li.active .btn {
  background-color: #004fdd;
  border-color: #004fdd;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #004fdd;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #aac8ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f9cdcd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d9ffd8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff5cc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #004fdd !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #004fdd;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #004fdd;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #004fdd;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #004fdd;
  border-bottom-color: #004fdd;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #004fdd !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23004fdd' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sK1yZ594Zi {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/img-20201206-92750-2000x1500.jpg");
}
.cid-sK1yZ594Zi .mbr-section-subtitle {
  color: #767676;
}
.cid-sK1yZ594Zi .media-row {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sK1yZ594Zi .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-sK1yZ594Zi .team-item .item-image img {
  width: 100%;
}
.cid-sK1yZ594Zi .team-item .item-name p {
  margin-bottom: 0;
}
.cid-sK1yZ594Zi .team-item .item-role p {
  margin-bottom: 0;
}
.cid-sK1yZ594Zi .team-item .item-social {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-sK1yZ594Zi .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-sK1yZ594Zi .item-name {
  color: #ffffff;
}
.cid-sIWNtdpGEH {
  z-index: 1000;
  width: 100%;
}
.cid-sIWNtdpGEH nav.navbar {
  position: fixed;
}
.cid-sIWNtdpGEH .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIWNtdpGEH .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sIWNtdpGEH .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sIWNtdpGEH .dropdown-item:hover,
.cid-sIWNtdpGEH .dropdown-item:focus {
  background: #004fdd !important;
  color: white !important;
}
.cid-sIWNtdpGEH .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sIWNtdpGEH .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sIWNtdpGEH .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sIWNtdpGEH .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sIWNtdpGEH .nav-link {
  position: relative;
}
.cid-sIWNtdpGEH .container {
  display: flex;
  margin: auto;
}
.cid-sIWNtdpGEH .iconfont-wrapper {
  color: #2531a6 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sIWNtdpGEH .dropdown-menu,
.cid-sIWNtdpGEH .navbar.opened {
  background: #000502 !important;
}
.cid-sIWNtdpGEH .nav-item:focus,
.cid-sIWNtdpGEH .nav-link:focus {
  outline: none;
}
.cid-sIWNtdpGEH .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sIWNtdpGEH .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sIWNtdpGEH .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sIWNtdpGEH .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIWNtdpGEH .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sIWNtdpGEH .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sIWNtdpGEH .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(0, 5, 2, 0);
}
.cid-sIWNtdpGEH .navbar.opened {
  transition: all 0.3s;
}
.cid-sIWNtdpGEH .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sIWNtdpGEH .navbar .navbar-logo img {
  width: auto;
}
.cid-sIWNtdpGEH .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sIWNtdpGEH .navbar.collapsed {
  justify-content: center;
}
.cid-sIWNtdpGEH .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sIWNtdpGEH .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sIWNtdpGEH .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sIWNtdpGEH .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sIWNtdpGEH .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sIWNtdpGEH .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sIWNtdpGEH .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sIWNtdpGEH .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sIWNtdpGEH .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sIWNtdpGEH .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sIWNtdpGEH .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sIWNtdpGEH .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sIWNtdpGEH .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sIWNtdpGEH .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sIWNtdpGEH .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sIWNtdpGEH .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sIWNtdpGEH .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sIWNtdpGEH .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sIWNtdpGEH .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sIWNtdpGEH .navbar.navbar-short {
  min-height: 60px;
}
.cid-sIWNtdpGEH .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sIWNtdpGEH .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sIWNtdpGEH .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sIWNtdpGEH .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sIWNtdpGEH .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sIWNtdpGEH .dropdown-item.active,
.cid-sIWNtdpGEH .dropdown-item:active {
  background-color: transparent;
}
.cid-sIWNtdpGEH .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sIWNtdpGEH .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sIWNtdpGEH .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sIWNtdpGEH .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000502;
}
.cid-sIWNtdpGEH .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sIWNtdpGEH .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sIWNtdpGEH ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sIWNtdpGEH .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sIWNtdpGEH button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sIWNtdpGEH button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sIWNtdpGEH button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sIWNtdpGEH button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIWNtdpGEH button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIWNtdpGEH button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sIWNtdpGEH nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIWNtdpGEH nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sIWNtdpGEH nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sIWNtdpGEH nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIWNtdpGEH .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sIWNtdpGEH a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sIWNtdpGEH .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sIWNtdpGEH .navbar {
    height: 70px;
  }
  .cid-sIWNtdpGEH .navbar.opened {
    height: auto;
  }
  .cid-sIWNtdpGEH .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sJ0h6eUOOy {
  background-image: url("../../../assets/images/finka-2-720x540.jpeg");
}
.cid-sJ0h6eUOOy .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-sJ0h6eUOOy .mbr-section-title {
  color: #ffffff;
}
.cid-sKuLSy8aHm {
  padding-top: 75px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/mbr-2-1920x1282.jpeg");
}
.cid-sKuLSy8aHm .media-container-row {
  justify-content: space-between;
}
.cid-sKuLSy8aHm .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-sKuLSy8aHm .text-content {
    max-width: none;
  }
}
.cid-sKuLSy8aHm .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-sKuLSy8aHm .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-sKuLSy8aHm .mbr-iconfont-social:hover {
  background-color: #ffffff;
  color: #000000;
}
@media (max-width: 768px) {
  .cid-sKuLSy8aHm .icons {
    justify-content: center !important;
  }
  .cid-sKuLSy8aHm .text-content * {
    text-align: center;
  }
}
.cid-sKuLSy8aHm .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
.cid-sKuLSy8aHm P {
  color: #ffffff;
  text-align: left;
}
.cid-sKqeXteO9R {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/mbr-1920x1024.jpeg");
}
.cid-sKqeXteO9R .card {
  border-radius: 0;
}
@media (min-width: 992px) {
  .cid-sKqeXteO9R .card {
    border-right: 1px solid white;
  }
}
@media (max-width: 991px) {
  .cid-sKqeXteO9R .card {
    border-right: 0px;
    border-bottom: 1px solid white;
  }
}
.cid-sKqeXteO9R .wrapper {
  padding: 30px 0;
}
.cid-sKqeXteO9R .mbr-section-title {
  color: #fafafa;
}
.cid-sKqeXteO9R .mbr-text,
.cid-sKqeXteO9R .mbr-section-btn {
  color: #ffffff;
}
.cid-sKuKHpeqIv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/1bf1e4ea-8b57-49ab-b41f-0a4f680909f1-1152x864.jpeg");
}
.cid-sKuKHpeqIv .card {
  border-radius: 0;
}
@media (min-width: 992px) {
  .cid-sKuKHpeqIv .card {
    border-right: 1px solid white;
  }
}
@media (max-width: 991px) {
  .cid-sKuKHpeqIv .card {
    border-right: 0px;
    border-bottom: 1px solid white;
  }
}
.cid-sKuKHpeqIv .wrapper {
  padding: 30px 0;
}
.cid-sKuKHpeqIv .mbr-section-title {
  color: #fafafa;
}
.cid-sKuKHpeqIv .mbr-text,
.cid-sKuKHpeqIv .mbr-section-btn {
  color: #ffffff;
}
.cid-sKss9JIFuv {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sKss9JIFuv .carousel-control {
  background: #000;
}
.cid-sKss9JIFuv .mbr-section-subtitle {
  color: #767676;
}
.cid-sKss9JIFuv .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sKss9JIFuv .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-sKss9JIFuv .carousel-item .wrap-img {
  text-align: center;
}
.cid-sKss9JIFuv .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-sKss9JIFuv .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sKss9JIFuv .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-sKss9JIFuv .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-sKss9JIFuv .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-sKss9JIFuv .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-sKss9JIFuv .cloneditem-1,
.cid-sKss9JIFuv .cloneditem-2,
.cid-sKss9JIFuv .cloneditem-3,
.cid-sKss9JIFuv .cloneditem-4,
.cid-sKss9JIFuv .cloneditem-5 {
  display: none;
}
.cid-sKss9JIFuv .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sKss9JIFuv .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-sKss9JIFuv .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-sKss9JIFuv .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-sKss9JIFuv .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-sKss9JIFuv .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sKss9JIFuv .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides2 .cloneditem-1,
  .cid-sKss9JIFuv .carousel-inner.slides2 .cloneditem-2,
  .cid-sKss9JIFuv .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-sKss9JIFuv .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-sKss9JIFuv .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-sKss9JIFuv .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-sKss9JIFuv .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sKss9JIFuv .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides3 .cloneditem-1,
  .cid-sKss9JIFuv .carousel-inner.slides3 .cloneditem-2,
  .cid-sKss9JIFuv .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-sKss9JIFuv .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-sKss9JIFuv .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-sKss9JIFuv .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-sKss9JIFuv .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sKss9JIFuv .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides4 .cloneditem-1,
  .cid-sKss9JIFuv .carousel-inner.slides4 .cloneditem-2,
  .cid-sKss9JIFuv .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-sKss9JIFuv .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-sKss9JIFuv .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-sKss9JIFuv .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-sKss9JIFuv .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sKss9JIFuv .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides5 .cloneditem-1,
  .cid-sKss9JIFuv .carousel-inner.slides5 .cloneditem-2,
  .cid-sKss9JIFuv .carousel-inner.slides5 .cloneditem-3,
  .cid-sKss9JIFuv .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-sKss9JIFuv .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-sKss9JIFuv .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-sKss9JIFuv .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-sKss9JIFuv .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sKss9JIFuv .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sKss9JIFuv .carousel-inner.slides6 .cloneditem-1,
  .cid-sKss9JIFuv .carousel-inner.slides6 .cloneditem-2,
  .cid-sKss9JIFuv .carousel-inner.slides6 .cloneditem-3,
  .cid-sKss9JIFuv .carousel-inner.slides6 .cloneditem-4,
  .cid-sKss9JIFuv .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-sKss9JIFuv H2 {
  color: #0f4d11;
}
.cid-sKss9JIFuv P {
  text-align: center;
}
.cid-sJ0czHNtkg {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/img-5332-2000x1500.jpeg");
}
.cid-sJ0czHNtkg .mbr-text,
.cid-sJ0czHNtkg .mbr-section-btn {
  color: #000000;
}
.cid-sJ0czHNtkg H2 {
  text-align: left;
}
.cid-sJ0czHNtkg H3 {
  text-align: left;
}
.cid-sJ1aHool68 .main_wrapper {
  position: relative;
  height: 42rem;
  width: 100%;
  background-color: #c0c0c0;
}
.cid-sJ1aHool68 .main_wrapper .b_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.cid-sJ1aHool68 .main_wrapper .b_wrapper .block {
  height: 300px;
  background-color: #ffffff;
  pointer-events: fill;
}
.cid-sJ1aHool68 .main_wrapper .b_wrapper .block .block_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.cid-sJ1aHool68 .google-map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.cid-sJ1aHool68 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sJ1aHool68 .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sJ1aHool68 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sJ1aHool68 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 767px) {
  .cid-sJ1aHool68 .main_wrapper .b_wrapper {
    display: block;
    height: unset;
  }
  .cid-sJ1aHool68 .google-map {
    position: relative;
  }
  .cid-sJ1aHool68 .container {
    max-width: 100%;
    padding: 0;
  }
}
.cid-sKqtxNGzrp {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/mbr-1920x1282.jpeg");
}
.cid-sKqtxNGzrp .mbr-section-subtitle {
  color: #767676;
}
.cid-sKqtxNGzrp .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sKqtxNGzrp .mbr-text {
  color: #ffffff;
}
.cid-sKqtxNGzrp .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-sKqtxNGzrp .mbr-author-name {
  color: #ffffff;
}
.cid-sKqtxNGzrp .mbr-testimonial .panel-item {
  background-color: #0f4d11;
}
.cid-sKqtxNGzrp .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-sKqtxNGzrp .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-sKqtxNGzrp .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-sKqtxNGzrp .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-sKqtxNGzrp .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-sKqtxNGzrp H2 {
  color: #ffffff;
}
.cid-sJLLiqQ6AR {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}
.cid-sJLLiqQ6AR .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-sJLLiqQ6AR .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sJLLiqQ6AR .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sJLLiqQ6AR .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-sJLLiqQ6AR .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0f4d11;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-sJLLiqQ6AR .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-sJLLiqQ6AR .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-sJLLiqQ6AR .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-sJLLiqQ6AR .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #0f4d11 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-sKkUZzCwnk {
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/mbr-1-1920x1282.jpeg");
}
.cid-sKkUZzCwnk .carousel-control {
  background: #000;
}
.cid-sKkUZzCwnk .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sKkUZzCwnk .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sKkUZzCwnk .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-sKkUZzCwnk .carousel-item .wrap-img {
  text-align: center;
}
.cid-sKkUZzCwnk .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-sKkUZzCwnk .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sKkUZzCwnk .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-sKkUZzCwnk .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-sKkUZzCwnk .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-sKkUZzCwnk .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-sKkUZzCwnk .cloneditem-1,
.cid-sKkUZzCwnk .cloneditem-2,
.cid-sKkUZzCwnk .cloneditem-3,
.cid-sKkUZzCwnk .cloneditem-4,
.cid-sKkUZzCwnk .cloneditem-5 {
  display: none;
}
.cid-sKkUZzCwnk .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sKkUZzCwnk .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-sKkUZzCwnk .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-sKkUZzCwnk .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-sKkUZzCwnk .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-sKkUZzCwnk .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sKkUZzCwnk .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides2 .cloneditem-1,
  .cid-sKkUZzCwnk .carousel-inner.slides2 .cloneditem-2,
  .cid-sKkUZzCwnk .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-sKkUZzCwnk .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-sKkUZzCwnk .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-sKkUZzCwnk .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-sKkUZzCwnk .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sKkUZzCwnk .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides3 .cloneditem-1,
  .cid-sKkUZzCwnk .carousel-inner.slides3 .cloneditem-2,
  .cid-sKkUZzCwnk .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-sKkUZzCwnk .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-sKkUZzCwnk .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-sKkUZzCwnk .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-sKkUZzCwnk .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sKkUZzCwnk .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides4 .cloneditem-1,
  .cid-sKkUZzCwnk .carousel-inner.slides4 .cloneditem-2,
  .cid-sKkUZzCwnk .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-sKkUZzCwnk .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-sKkUZzCwnk .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-sKkUZzCwnk .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-sKkUZzCwnk .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sKkUZzCwnk .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides5 .cloneditem-1,
  .cid-sKkUZzCwnk .carousel-inner.slides5 .cloneditem-2,
  .cid-sKkUZzCwnk .carousel-inner.slides5 .cloneditem-3,
  .cid-sKkUZzCwnk .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-sKkUZzCwnk .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-sKkUZzCwnk .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-sKkUZzCwnk .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-sKkUZzCwnk .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sKkUZzCwnk .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sKkUZzCwnk .carousel-inner.slides6 .cloneditem-1,
  .cid-sKkUZzCwnk .carousel-inner.slides6 .cloneditem-2,
  .cid-sKkUZzCwnk .carousel-inner.slides6 .cloneditem-3,
  .cid-sKkUZzCwnk .carousel-inner.slides6 .cloneditem-4,
  .cid-sKkUZzCwnk .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-sKkUZzCwnk H2 {
  color: #000000;
}
.cid-sJ09UKAZYI {
  padding-top: 90px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/1112-1280x960.jpg");
}
.cid-sJ09UKAZYI .title {
  margin-bottom: 2rem;
}
.cid-sJ09UKAZYI .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sJ09UKAZYI a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-sJ09UKAZYI a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-sJ09UKAZYI textarea.form-control {
  min-height: 188px;
}
.cid-sJ09UKAZYI H2 {
  color: #fcd52d;
}
.cid-sJ09UKAZYI LABEL {
  color: #ffffff;
}
